/* selector universal */
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

.container {
  width: 100%;
  margin: auto;
}

.header {
  border: 0.5px solid #9f9f9f;
  padding: 10px;
  display: flex;
  height: 70px;
  font-family: "Rubik", sans-serif;
  justify-content: space-between;
}
.logo {
  font-weight: bold;
  font-size: 20px;
  padding-left: 80px;
  padding-top: 10px;
  flex: 1.5;
}
.menu {
  display: flex;
  margin: 20px;
  margin-left: 0px;
  justify-content: space-evenly;
  flex-direction: row;
  flex: 2;
}
.icon {
  padding-top: 5px;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex: 1;
}
.box2 {
  padding: 10px;
  border: 3px solid black;
  display: flex;
  height: 1000px;
  font-family: "Rubik", sans-serif;
}
.box2a {
  border: 3px solid black;
  padding: 10px;
  display: flex;
  flex: 1;
  flex-direction: column;
}
.box2a1 {
  border: 3px solid black;
  flex: 1;
  text-align: center;
}
.box2a2 {
  text-align: center;
  align-content: center;
  border: 3px solid black;
  flex: 3;
}
.coupon {
  margin-left: 90px;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 200px;
  height: 300px;
  border-radius: 20px;
  background-color: #ffcb65;
}
.box2a3 {
  font-size: 14px;
  line-height: 25px;
  border: 3px solid black;
  flex: 1;
}
.box2b {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex: 2.3;
}
.box2b1 {
  font-family: "Rubik", sans-serif;
  color: #9f9f9f;
  height: 30px;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  font-size: 18px;
}
.favourite:hover,
.coffee:hover,
.non-coffee:hover,
.foods:hover,
.addon:hover {
  color: black;
  font-weight: bold;
  border-bottom: 3px solid black;
}
.box2b2 {
  border: 3px solid black;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex: 1;
}
.product-box {
  border: 3px solid black;
  width: 180px;
  height: 260px;
}
.footer {
  font-family: "Rubic", sans-serif;
  padding-left: 50px;
  display: flex;
  height: 300px;
}
.box3a {
  padding: 10px;
  flex: 3;
}
.company-icon {
  font-weight: bold;
  font-size: 18px;
}
.company-profile {
  font-size: 17px;
  line-height: 25px;
  width: 250px;
}
.icon-social {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
}
.box3b,
.box3c {
  font-family: "Rubik", sans-serif;
  padding: 10px;
  flex: 1;
  font-size: 17px;
  line-height: 30px;
}
